* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, Arial, sans-serif;
}
/*===== NAV =====*/
.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}
.container {
  max-width: 1200px;
  width: 90%;
  display: block;
  margin: 0 auto;
}
.navbar {
  width: 90%;
  background-color: black;
  color: white;
  display: block;
  margin: 0 auto;
  margin-top: 2rem;
  border-radius: 5px;
  opacity: 0.85;
  z-index: 100;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 64px;
  align-items: center;
}
.menu-items {
  order: 2;
  display: flex;
}
.logo { 
  font-size: 2.0rem;
  font-weight: 100;
  padding-top: 0.5rem;
}
.menu-items li {
  list-style: none;
  margin-left: 1.5rem;
  font-size: 1.3rem;
}
.navbar a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

/*===== BODY =====*/
body {
  background-image: linear-gradient(to top right, #0314fc, #05cdff);
  background-repeat: no-repeat;
}

/*===== MEDIA QUERY =====*/
@media (max-width: 768px) {
  .navbar {
    opacity: 0.95;
  }
  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines {
    display: block;
  }
  .navbar-container {
    display: block;
    position: relative;
    height: 0px;
  }
  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 22px;
    width: 30px;
    top: -25px;
    right: 10px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  .navbar-container .hamburger-lines {
    display: block;
    height: 16px;
    width: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .navbar-container .hamburger-lines .line {
    display: block;
    height: 2px;
    width: 100%;
    background-color: white;
  }
  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.3s ease-in-out;
  }
  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
    width: 1rem;
  }
  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.3s ease-in-out;
  }
  .navbar .menu-items {
    padding-top: 100px;
    background-color: black;
    height: 100vh;
    width: 30rem;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease-in-out;
    box-shadow:  0 0 20px -5px black;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    margin-top: -50px;
    overflow-x: hidden;
  }
  .navbar .menu-items li {
    margin-bottom: 1.8rem;
    font-size: 15pt;
  }
  .navbar-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }
  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(0);
  }
  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(10deg);
  }
  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(0);
  }
  .header-container {
    color: white;
    text-align: center;
    display: block;
    margin: 0 auto;
    padding-top: 10rem;
    width: 100%;
  }
  .skew-1 {
    background-image: linear-gradient(
      rgba(255, 255, 255, 13%),
      rgba(255, 255, 255, 13%),
      rgba(255, 255, 255, 13%),
      rgba(255, 255, 255, 15%)
    );
    transform: skew(0deg, 20deg);
    height: 480px;
    margin-top: -550px;
    position: relative;
    z-index: -1;
  }
  .skew-2 {
    background-image: linear-gradient(
      rgba(255, 255, 255, 15%),
      rgba(255, 255, 255, 15%),
      rgba(255, 255, 255, 15%),
      rgba(255, 255, 255, 15%)
    );
    transform: skew(0deg, -35deg);
    margin-top: -200px;
    height: 410px;
  }
  .header-h1 {
    padding-top: 30rem;
    font-size: 21pt;
    font-weight: 500;
    transform: skew(0deg, 18.6deg);
    display: block;
    margin: 0 auto;
    width: 16rem;
  }
  .header-h2 {
    padding-top: 3rem;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 25px;
    transform: skew(0deg, 18.6deg);
    display: block;
    margin: 0 auto;
    max-width: 28rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .header-h3 {
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 23px;
    transform: skew(0deg, 18.6deg);
    display: block;
    margin: 0 auto;
    width: 20rem;
  }
  .icon-container {
    display: block;
    margin: 0 auto;
    line-height: 45px;
    padding-top: 20rem;
  }
  .email {
    color: black;
    padding: 0.47rem 0.65rem;
    background-color: white;
    border-radius: 50px;
    transition: 0.5s;
    margin-right: 0.2rem;
  }
  .email:hover {
    color: white;
    background: none;
  }
  .linked-in {
    color: black;
    padding: 0.47rem 0.7rem;
    background-color: white;
    border-radius: 50px;
    transition: 0.5s;
    margin-right: 0.2rem;
  }
  .linked-in:hover {
    color: white;
    background: none;
  }
  .instagram {
    color: black;
    padding: 0.47rem 0.7rem;
    background-color: white;
    border-radius: 50px;
    transition: 0.5s;
    margin-right: 0.2rem;
  }
  .instagram:hover {
    color: white;
    background: none;
  }
  .phone {
    color: black;
    padding: 0.47rem 0.7rem;
    background-color: white;
    border-radius: 50px;
    transition: 0.5s;
    margin-right: 0.2rem;
  }
  .phone:hover {
    color: white;
    background: none;
  }
  .facebook {
    color: black;
    padding: 0.47rem 0.8rem;
    background-color: white;
    border-radius: 50px;
    transition: 0.5s;
    margin-right: 0.2rem;
  }
  .facebook:hover {
    color: white;
    background: none;
  }
  .btn {
    border: none;
    color: black;
    cursor: pointer;
    transition: 0.5s;
    padding: 0.5rem 0.7rem;
    background-color: white;
    border-radius: 50px;
    font-size: 0.9rem;
    font-weight: 500;
  }
  .btn:hover {
    color: white;
    background: none;
  }
  #box-section {
    background-color: #f2f2f2;
    margin-top: 10rem;
    padding: 5rem 0;
  }
  .box-container {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .box {
    background-color: white;
    text-align: center;
    max-width: 21rem;
    border-radius: 10px;
    padding: 2rem;
  }
  .box i {
    background-image: linear-gradient(to top right, #0314fc, #05cdff);
    padding: 1.5rem;
    border-radius: 100%;
    color: white;
  }
  .box-h1 {
    padding-bottom: 0.5rem;
    font-weight: 600;
  }
  .box-p {
    padding-top: 0.5rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    color: gray;
  }
  #about {
    background-color: white;
  }
  .about-container {
    display: block;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 3rem;
    max-width: 76%;
  }
  .about-header {
    text-align: center;
    display: block;
    margin: 0 auto;
    font-size: 25pt;
    font-weight: 500;
  }
  .about-message {
    padding-top: 2.5rem;
    line-height: 25px;
    color: gray;
    font-size: 1.1rem;
    font-weight: 400;
  }
  #skills {
    background-color: black;
    padding-bottom: 5rem;
  }
  .skills-header {
    font-size: 25pt;
    font-weight: 500;
    text-align: center;
    display: block;
    margin: 0 auto;
    padding: 3rem 0 0 0;
  }
  #font-awesome {
    background-image: linear-gradient(to top right, #0314fc, #05cdff);
    color: white;
    text-align: center;
    padding: 1.5rem;
    border-radius: 100%;
    height: 50%;
    width: 4.5rem;
    display: block;
    margin: 0 auto 1rem auto;
    font-size: 15pt;
  }
  #skills {
    background-color: #f2f2f2;
  }
  .skills-header {
    color: black;
  }
  .skills-container {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    gap: 1rem;
    margin: 0 auto;
    padding-top: 2rem;
  }
  .skills-boxes{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 25rem;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }
  .skills-h1 {
    text-align: center;
    display: block;
    margin: 0 auto;
    font-size: 15pt;
    font-weight: 600;
    padding-bottom: 0.5rem;
    color: black;
  }
  .skills-boxes p {
    color: gray;
    display: block;
    margin: 0 auto;
    width: 90%;
    font-size: 1rem;
    font-weight: 400;
    padding-top: 0.5rem;
    line-height: 25px;
  }
  #projects {
    background-color: white;
  }
  #coding {
    background-image: linear-gradient(to top right, #0314fc, #05cdff);
    padding-bottom: 3rem;
  }
  .coding-container {
    color: white;
    width: 80%;
    display: block;
    margin: 0 auto;
  }
  .coding-header {
    text-align: center;
    font-size: 25pt;
    font-weight: 500;
    padding-top: 2rem;
    padding-bottom: 0.4rem;
  }
  .coding-p {
    padding-top: 1.3rem;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 26px;
  }
  #contact {
    background-color: white;
    padding-bottom: 5rem;
    padding: 50px 0;
  }
  .contact-header {
    text-align: center;
    display: block;
    margin: 0 auto;
    font-size: 20pt;
    font-weight: 500;
    padding-bottom: 0.2rem;
  }
  form {
    display: block;
    margin: 0 auto;
    text-align: center;
    max-width: 22rem;
    box-shadow: gray 0 0 20px -10px;
    padding: 25px 20px;
    border-radius: 10px;
  }
  input {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    border: 1px solid gray;
    width: 18rem;
    margin-top: 2rem;
  }
  input::placeholder {
    color: gray;
    font-size: 1rem;
  }
  input:focus {
    outline: 2px solid #00b3ff;
    border-radius: 5px;
  }
  textarea {
    border: none;
    border-radius: 5px;
    border: 1px solid gray;
    resize: vertical;
    width: 18rem;
    padding: 5px 10px;
    margin-top: 2rem;
  }
  textarea:focus {
    outline: 2px solid #00b3ff;
    border-radius: 5px;
  }
  textarea::placeholder {
    color: gray;
    font-size: 1rem;
  }
  .btn-primary {
    background-color: #03a1fc;
    border: none;
    border-radius: 50px;
    padding: 5px 16px;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    transition: all linear 0.5s;
    margin-top: 1rem;
  }
  .btn-primary:hover {
    background-color: white;
    color: #03a1fc;
  }
  .btn-secondary {
    background-color: gray;
    border: none;
    border-radius: 50px;
    padding: 5px 16px;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    transition: all linear 0.5s;
  }
  .btn-secondary:hover {
    background: none;
    color: gray;
    border: none;
  }
  .contact-container {
    margin: 3rem auto 0 auto;
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 90%;
  }
  .contact-boxes {
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 20px;
    width: 22.2rem;
    text-align: center;
  }
  footer {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 15px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  ul {
    list-style: none;
  }
  .main {
    width: 100%;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    margin-top: -100px;
  }
  .heading {
    margin-bottom: 15px;
    color: white;
  }
  .f-h2 {
    color: white;
    display: block;
    margin: 0 auto;
    text-align: center;
    max-width: 35rem;
    font-size: 14pt;
    font-weight: 400;
    margin-top: -100px;
    padding-bottom: 7rem;
    line-height: 26px;
  }
  .col1 {
    flex: 1;
    min-width: 200px;
    list-style: none;
    font-weight: 500;
  }
  .col2 {
    flex: 2;
    min-width: 300px;
  }
  .col3 {
    flex: 1;
    min-width: 200px;
  }
  .col1 a {
    display: inline-block;
    padding: 7px 0;
    font-size: 14px;
    text-decoration: none;
    list-style: none;
    color: white;
  }
  .col2 .languages {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 14px;
  }
  .col2 p {
    display: inline-block;
    padding: 3px 0px;
    text-decoration: none;
    color: white;
  }
  .social {
    display: flex;
    gap: 20px;
  }
  .col3 ion-icon {
    font-size: 20px;
    padding: 5px;
    border-radius: 50px;
    color: black;
    background-color: white;
    transition: all linear 0.5s;
    cursor: pointer;
  }
  .social a:hover ion-icon {
    color: white;
    background: none;
  }
}

/*===== PROJECTS SECTION =====*/
#projects {
	padding: 1rem 0;
}
.projects-header {
  text-align: center;
  display: block;
  margin: 0 auto;
  font-size: 25pt;
  font-weight: 500;
  padding-top: 2rem;
  padding-bottom: 0.2rem;
}
#projects .item {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 800px;
	margin: 2rem auto;
	margin-bottom: 3rem;
}
#projects .item:nth-of-type(even) {
	flex-direction: row-reverse;
}
#projects .item .left {
	flex: 1;
}
#projects .item .right {
	margin-left: -150px;
	flex: 1;
	background-color: white;
	padding: 5rem 3rem;
	border-radius: 12px;
	box-shadow: 0px 0px 20px #00000028;
	z-index: 2;
}
#projects .item:nth-of-type(even) .right {
	margin-left: 0;
}
#projects .item:nth-of-type(even) .left {
	margin-left: -150px;
}
#projects .item .left .img {
	height: 350px;
  width: 600px;
	overflow: hidden;
	border-radius: 12px;
	overflow: hidden;
	box-shadow: 0px 0px 20px -7px #a6a6a6;
	position: relative;
}
#projects .item .left .img::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: none;
}
#projects .item .left .img img {
	object-fit: cover;
	transition: 0.3s ease transform;
}
#projects .item:hover .left .img img {
	transform: scale(1.1);
	z-index: 1;
}
#projects .item .right .project-title {
	font-size: 1.5rem;
	font-family: 'Montserrat';
	margin-bottom: 1rem;
}
#projects .item .right .project-sub-title {
	font-size: 1.2rem;
	margin-bottom: 1rem;
  font-weight: 500;
  line-height: 25px;
}
#projects .item .right .project-desc {
	color: var(--secondary-gray);
	margin-bottom: 3rem;
  line-height: 26px;
  color: gray;
}
#projects .item .right .external-link {
	gap: 1rem;
}
.primary-btn button {
  border: 2px solid black;
  background-color: black;
  border-radius: 50px;
  color: white;
  padding: 5px 15px;
  transition: all linear 0.5s;
  cursor: pointer;
  font-weight: 500;
}
.primary-btn button:hover {
  background-color: white;
  color: black;
  border: 2px solid white;
}
.secondary-btn button {
  border: 2px solid black;
  background-color: white;
  border-radius: 50px;
  color: black;
  padding: 5px 15px;
  transition: all linear 0.5s;
  cursor: pointer;
  font-weight: 500;
}
.secondary-btn button:hover {
  background-color: white;
  color: black;
  border: 2px solid white;
}

@media only screen and (min-width: 769px) and (max-width: 1200px) {
  .navbar {
    opacity: 0.95;
  }
  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines {
    display: block;
  }
  .navbar-container {
    display: block;
    position: relative;
    height: 0px;
  }
  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 22px;
    width: 30px;
    top: -25px;
    right: 10px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  .navbar-container .hamburger-lines {
    display: block;
    height: 16px;
    width: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .navbar-container .hamburger-lines .line {
    display: block;
    height: 2px;
    width: 100%;
    background-color: white;
  }
  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.3s ease-in-out;
  }
  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
    width: 1rem;
  }
  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.3s ease-in-out;
  }
  .navbar .menu-items {
    padding-top: 100px;
    background-color: black;
    height: 100vh;
    width: 70rem;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease-in-out;
    box-shadow:  0 0 20px -5px black;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    margin-top: -50px;
  }
  .navbar .menu-items li {
    margin-bottom: 1.8rem;
    font-size: 15pt;
  }
  .navbar-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }
  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(0);
  }
  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(10deg);
  }
  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(0);
  }
  .header-container {
    color: white;
    text-align: center;
    display: block;
    margin: 0 auto;
    padding-top: 10rem;
    width: 100%;
  }
  .skew-1 {
    background-image: linear-gradient(
      rgba(255, 255, 255, 13%),
      rgba(255, 255, 255, 13%),
      rgba(255, 255, 255, 13%),
      rgba(255, 255, 255, 15%)
    );
    transform: skew(0deg, 20deg);
    height: 510px;
    margin-top: -550px;
    position: relative;
    z-index: -1;
  }
  .skew-2 {
    background-image: linear-gradient(
      rgba(255, 255, 255, 15%),
      rgba(255, 255, 255, 15%),
      rgba(255, 255, 255, 15%),
      rgba(255, 255, 255, 15%)
    );
    transform: skew(0deg, -30deg);
    margin-top: -200px;
    height: 400px;
  }
  .header-h1 {
    padding-top: 30rem;
    font-size: 30pt;
    font-weight: 500;
    transform: skew(0deg, 12.1deg);
  }
  .header-h2 {
    padding-top: 3.2rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 28px;
    transform: skew(0deg, 12.1deg);
    display: block;
    margin: 0 auto;
    width: 36rem;
  }
  .header-h3 {
    font-size: 1.1rem;
    font-weight: 200;
    line-height: 23px;
    transform: skew(0deg, 12.1deg);
    display: block;
    margin: 0 auto;
    width: 30rem;
  }
  .icon-container {
    padding-top: 19rem;
  }
  .email {
    color: black;
    padding: 6px 15px;
    background-color: white;
    border-radius: 50px;
    transition: 0.5s;
  }
  .email:hover {
    color: white;
    background: none;
  }
  .linked-in {
    color: black;
    padding: 6px 15px;
    background-color: white;
    border-radius: 50px;
    transition: 0.5s;
  }
  .linked-in:hover {
    color: white;
    background: none;
  }
  .instagram {
    color: black;
    padding: 6px 15px;
    background-color: white;
    border-radius: 50px;
    transition: 0.5s;
  }
  .instagram:hover {
    color: white;
    background: none;
  }
  .phone {
    color: black;
    padding: 6px 15px;
    background-color: white;
    border-radius: 50px;
    transition: 0.5s;
  }
  .phone:hover {
    color: white;
    background: none;
  }
  .facebook {
    color: black;
    padding: 6px 15px;
    background-color: white;
    border-radius: 50px;
    transition: 0.5s;
  }
  .facebook:hover {
    color: white;
    background: none;
  }
  .btn {
    border: none;
    color: black;
    cursor: pointer;
    transition: 0.5s;
    padding: 7px 15px;
    background-color: white;
    border-radius: 50px;
    font-size: 0.9rem;
    font-weight: 500;
  }
  .btn:hover {
    color: white;
    background: none;
  }
  #box-section {
    background-color: #f2f2f2;
    margin-top: 10rem;
    padding: 5rem 0;
  }
  .box-container {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .box {
    background-color: white;
    text-align: center;
    width: 22rem;
    border-radius: 10px;
    padding: 2rem;
  }
  .box i {
    background-image: linear-gradient(to top right, #0314fc, #05cdff);
    padding: 1.5rem;
    border-radius: 100%;
    color: white;
  }
  .box-h1 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: 600;
  }
  .box-p {
    padding-top: 0.5rem;
    font-size: 1rem;
    color: gray;
    font-weight: 400;
    line-height: 25px;
  }
  #about {
    background-color: white;
  }
  .about-container {
    display: block;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 3rem;
    max-width: 75%;
  }
  .about-header {
    text-align: center;
    display: block;
    margin: 0 auto;
    font-size: 25pt;
    font-weight: 500;
  }
  .about-message {
    padding-top: 1rem;
    color: gray;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 26px;
  }
  #skills {
    background-color: #f2f2f2;
    padding-bottom: 5rem;
  }
  .skills-header {
    font-size: 25pt;
    font-weight: 500;
    text-align: center;
    display: block;
    margin: 0 auto;
    padding: 3rem 0 0 0;
    color: black;
  }
  #font-awesome {
    background-image: linear-gradient(to top right, #0314fc, #05cdff);
    color: white;
    text-align: center;
    padding: 1.5rem;
    border-radius: 100%;
    height: 50%;
    width: 4.5rem;
    display: block;
    margin: 0 auto 1rem auto;
    font-size: 15pt;
  }
  .skills-container {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    width: 25rem;
    gap: 1rem;
    margin: 0 auto;
    padding-top: 2rem;
  }
  .skills-boxes {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 25rem;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }
  .skills-h1 {
    text-align: center;
    display: block;
    margin: 0 auto;
    font-size: 15pt;
    font-weight: 600;
    padding-bottom: 0.5rem;
  }
  .skills-boxes p {
    padding-top: 0.5rem;
    font-weight: 400;
    font-size: 1rem;
    line-height: 25px;
    color: gray;
    display: block;
    margin: 0 auto;
    width: 90%;
  }
  #projects {
    background-color: white;
  }
  #coding {
    background-image: linear-gradient(to top right, #0314fc, #05cdff);
    padding-bottom: 3rem;
  }
  .coding-container {
    color: white;
    width: 80%;
    display: block;
    margin: 0 auto;
  }
  .coding-header {
    text-align: center;
    font-size: 25pt;
    font-weight: 500;
    padding-top: 2rem;
    padding-bottom: 0.4rem;
  }
  .coding-p {
    padding-top: 1.3rem;
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 26px;
  }
  #contact {
    background-color: white;
    padding-bottom: 5rem;
    padding: 50px 0;
  }
  .contact-header {
    text-align: center;
    display: block;
    margin: 0 auto;
    font-size: 20pt;
    font-weight: 500;
    padding-bottom: 0.2rem;
  }
  form {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 25rem;
    box-shadow: gray 0 0 20px -10px;
    padding: 25px 20px;
    border-radius: 10px;
  }
  input {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    border: 1px solid gray;
    width: 18rem;
    margin-top: 2rem;
  }
  input::placeholder {
    color: gray;
    font-size: 1rem;
  }
  input:focus {
    outline: 2px solid #00b3ff;
    border-radius: 5px;
  }
  textarea {
    border: none;
    border-radius: 5px;
    border: 1px solid gray;
    resize: vertical;
    width: 18rem;
    padding: 5px 10px;
    margin-top: 2rem;
  }
  textarea:focus {
    outline: 2px solid #00b3ff;
    border-radius: 5px;
  }
  textarea::placeholder {
    color: gray;
    font-size: 1rem;
  }
  .btn-primary {
    background-color: #03a1fc;
    border: none;
    border-radius: 50px;
    padding: 5px 16px;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    transition: all linear 0.5s;
    margin-top: 1rem;
  }
  .btn-primary:hover {
    background-color: white;
    color: #03a1fc;
  }
  .btn-secondary {
    background-color: gray;
    border: none;
    border-radius: 50px;
    padding: 5px 16px;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    transition: all linear 0.5s;
  }
  .btn-secondary:hover {
    background: none;
    color: gray;
    border: none;
  }
  .contact-container {
    margin: 3rem auto 0 auto;
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 90%;
  }
  .contact-boxes {
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 20px;
    width: 25rem;
    text-align: center;
  }
  footer {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 15px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  ul {
    list-style: none;
  }
  .main {
    width: 100%;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    margin-top: -100px;
    margin: 0 auto;
  }
  .heading {
    margin-bottom: 15px;
    color: white;
  }
  .f-h2 {
    color: white;
    display: block;
    margin: 0 auto;
    text-align: center;
    max-width: 35rem;
    font-size: 14pt;
    font-weight: 400;
    margin-top: -60px;
    padding-bottom: 2rem;
    line-height: 26px;
  }
  .col1 {
    flex: 1;
    list-style: none;
    font-weight: 500;
  }
  .col2 {
    flex: 1;
  }
  .col3 {
    flex: 1;
    min-width: 200px;
  }
  .col1 a {
    display: inline-block;
    padding: 7px 0;
    font-size: 14px;
    text-decoration: none;
    list-style: none;
    color: white;
  }
  .col2 .languages {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 14px;
  }
  .col2 p {
    display: inline-block;
    text-decoration: none;
    color: white;
  }
  .col2 a:hover {
    border-bottom: 2px solid white;
    border-radius: none;
  }
  .social {
    display: flex;
    flex: wrap;
    gap: 20px;
  }
  .col3 ion-icon {
    font-size: 25px;
    padding: 5px;
    border-radius: 50px;
    color: black;
    background-color: white;
    transition: all linear 0.5s;
    cursor: pointer;
  }
  .social a:hover ion-icon {
    color: white;
    background: none;
  }
}

/*===== PROJECTS SECTION UP TO 1200PX =====*/

@media only screen and (max-width: 1200px) {
	#projects .item {
		flex-direction: column;
	}
	#projects .item .left {
		width: 100%;
	}
	#projects .item .right {
		margin-left: 0;
		width: 90%;
		margin-top: -150px;
	}
  #projects .item .left .img {
    height: 300px;
    width: 95%;
    overflow: hidden;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 0px 20px -7px #a6a6a6;
    position: relative;
    margin: 0 auto;
  }
  #projects .item {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 450px;
    margin: 2rem auto;
    margin-bottom: 6rem;
  }
	#projects .item:nth-of-type(even) {
		flex-direction: column;
	}
	#projects .item:nth-of-type(even) .left {
		margin-left: 0;
	}
}
@media only screen and (max-width: 450px) {
	#projects .item .right .buttons {
		flex-direction: column;
	}
	#projects .item .right .buttons a {
		width: 100%;
		text-align: center;
	}
}
@media (max-width: 500px) {
    .navbar-container input[type="checkbox"]:checked ~ .logo {
      display: none;
    }
}

@media only screen and (min-width: 1201px) and (max-width: 1792px) {
  .navbar {
    width: 90%;
    background: none;
    color: white;
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
    border-radius: 5px;
    opacity: 0.85;
    z-index: 100;
  }
  .navbar a:hover {
    border-bottom: 2px solid white;
  }
  .skew-1 {
    background-image: linear-gradient(
      rgba(255, 255, 255, 13%),
      rgba(255, 255, 255, 13%),
      rgba(255, 255, 255, 13%),
      rgba(255, 255, 255, 15%)
    );
    transform: skew(0deg, 10deg);
    height: 480px;
    margin-top: -550px;
    position: relative;
    z-index: -1;
  }
  .skew-2 {
    background-image: linear-gradient(
      rgba(255, 255, 255, 15%),
      rgba(255, 255, 255, 15%),
      rgba(255, 255, 255, 15%),
      rgba(255, 255, 255, 15%)
    );
    transform: skew(0deg, -23deg);
    margin-top: -200px;
    height: 320px;
  }
  .header-container {
    color: white;
    text-align: center;
    display: block;
    margin: 0 auto;
    padding-top: 10rem;
    width: 100%;
  }
  .header-h1 {
    padding-top: 30rem;
    font-size: 30pt;
    font-weight: 500;
    transform: skew(0deg, 14deg);
  }
  .header-h2 {
    padding-top: 2rem;
    font-size: 17pt;
    font-weight: 500;
    line-height: 25px;
    transform: skew(0deg, 14deg);
    display: block;
    margin: 0 auto;
    width: 50rem;
    line-height: 28px;
  }
  .header-h3 {
    font-size: 14pt;
    font-weight: 200;
    line-height: 23px;
    transform: skew(0deg, 14deg);
    display: block;
    margin: 0 auto;
    width: 27rem;
  }
  .border-bottom-1 {
    display: none;
  }
  .icon-container {
    padding-top: 18rem;
  }
  .email {
    color: black;
    padding: 5px 15px;
    background-color: white;
    border-radius: 50px;
    transition: 0.5s;
  }
  .email:hover {
    color: white;
    background: none;
  }
  .linked-in {
    color: black;
    padding: 5px 15px;
    background-color: white;
    border-radius: 50px;
    transition: 0.5s;
  }
  .linked-in:hover {
    color: white;
    background: none;
  }
  .instagram {
    color: black;
    padding: 5px 15px;
    background-color: white;
    border-radius: 50px;
    transition: 0.5s;
  }
  .instagram:hover {
    color: white;
    background: none;
  }
  .phone {
    color: black;
    padding: 5px 15px;
    background-color: white;
    border-radius: 50px;
    transition: 0.5s;
  }
  .phone:hover {
    color: white;
    background: none;
  }
  .facebook {
    color: black;
    padding: 5px 15px;
    background-color: white;
    border-radius: 50px;
    transition: 0.5s;
  }
  .facebook:hover {
    color: white;
    background: none;
  }
  .btn {
    border: none;
    color: black;
    cursor: pointer;
    transition: 0.5s;
    padding: 6px 15px;
    background-color: white;
    border-radius: 50px;
    font-size: 0.9rem;
    font-weight: 500;
  }
  .btn:hover {
    color: white;
    background: none;
  }
  #box-section {
    background-color: #f2f2f2;
    margin-top: 10rem;
    padding: 5rem 0;
  }
  .box-container {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .box {
    background-color: white;
    text-align: center;
    max-width: 25rem;
    border-radius: 10px;
    padding: 2rem;
  }
  .box i {
    background-image: linear-gradient(to top right, #0314fc, #05cdff);
    padding: 1.5rem;
    border-radius: 100%;
    color: white;
  }
  .box-h1 {
    padding-bottom: 0.5rem;
    font-weight: 600;
    padding-top: 0.5rem;
  }
  .box-p {
    padding-top: 0.5rem;
    font-weight: 400;
    line-height: 25px;
    color: gray;
  }
  #about {
    background-color: white;
  }
  .about-container {
   display: block;
   margin: 0 auto;
   padding-top: 2rem;
   padding-bottom: 3rem;
   max-width: 55%;
  }
  .about-header {
    text-align: center;
    display: block;
    margin: 0 auto;
    font-size: 25pt;
    font-weight: 500;
  }
  .about-message {
   padding-top: 1rem;
   font-weight: 400;
   line-height: 26px;
   color: gray;
   font-size: 1.1rem;
  }
  #skills {
    background-color: #f2f2f2;
    padding-bottom: 5rem;
  }
  .skills-header {
    font-size: 25pt;
    font-weight: 500;
    text-align: center;
    display: block;
    margin: 0 auto;
    padding: 3rem 0 0 0;
    color: black;
  }
  #font-awesome {
    background-image: linear-gradient(to top right, #0314fc, #05cdff);
    color: white;
    text-align: center;
    padding: 1.5rem;
    border-radius: 100%;
    height: 50%;
    width: 4.5rem;
    display: block;
    margin: 0 auto 1rem auto;
    font-size: 15pt;
  }
  .skills-container {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    max-width: 52rem;
    gap: 1rem;
    margin: 0 auto;
    padding-top: 2rem;
  }
  .skills-boxes{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 25rem;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }
  .skills-h1 {
    text-align: center;
    display: block;
    margin: 0 auto;
    font-size: 15pt;
    font-weight: 600;
    padding-bottom: 0.5rem;
  }
  .skills-boxes p {
    color: gray;
    padding-top: 0.5rem;
    display: block;
    margin: 0 auto;
    width: 90%;
    font-weight: 400;
    line-height: 25px;
  }
  #projects {
    background-color: white;
  }
  #coding {
    background-image: linear-gradient(to top right, #0314fc, #05cdff);
    padding-bottom: 3rem;
  }
  .coding-container {
    color: white;
    width: 55%;
    display: block;
    margin: 0 auto;
  }
  .coding-header {
    text-align: center;
    font-size: 25pt;
    font-weight: 500;
    padding-top: 2rem;
    padding-bottom: 0.4rem;
  }
  .coding-p {
    padding-top: 0.8rem;
    font-weight: 400;
    line-height: 26px;
    font-size: 1.1rem;
  }
  #contact {
    background-color: white;
    padding: 80px 0;
  }
  .contact-header {
    text-align: center;
    display: block;
    margin: 0 auto;
    font-size: 20pt;
    font-weight: 500;
    padding-bottom: 0.2rem;
  }
  form {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 25rem;
    box-shadow: gray 0 0 20px -10px;
    padding: 25px 20px;
    border-radius: 10px;
  }
  input {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    border: 1px solid gray;
    width: 18rem;
    margin-top: 2rem;
  }
  input::placeholder {
    color: gray;
    font-size: 1rem;
  }
  input:focus {
    outline: 2px solid #00b3ff;
    border-radius: 5px;
  }
  textarea {
    border: none;
    border-radius: 5px;
    border: 1px solid gray;
    resize: vertical;
    width: 18rem;
    padding: 5px 10px;
    margin-top: 2rem;
  }
  textarea:focus {
    outline: 2px solid #00b3ff;
    border-radius: 5px;
  }
  textarea::placeholder {
    color: gray;
    font-size: 1rem;
  }
  .btn-primary {
    background-color: #03a1fc;
    border: none;
    border-radius: 50px;
    padding: 5px 16px;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    transition: all linear 0.5s;
    margin-top: 1rem;
  }
  .btn-primary:hover {
    background-color: white;
    color: #03a1fc;
  }
  .btn-secondary {
    background-color: gray;
    border: none;
    border-radius: 50px;
    padding: 5px 16px;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    transition: all linear 0.5s;
  }
  .btn-secondary:hover {
    background: none;
    color: gray;
    border: none;
  }
  .contact-container {
    margin: 3rem auto 0 auto;
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 90%;
  }
  .contact-boxes {
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 20px;
    width: 25rem;
    text-align: center;
  }
  footer {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 15px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  ul {
    list-style: none;
  }
  .main {
    width: 100%;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    margin-top: -100px;
    margin: 0 auto;
  }
  .heading {
    margin-bottom: 15px;
    color: white;
  }
  .f-h2 {
    color: white;
    display: block;
    margin: 0 auto;
    text-align: center;
    max-width: 35rem;
    font-size: 14pt;
    font-weight: 400;
    margin-top: -60px;
    padding-bottom: 2rem;
    line-height: 26px;
  }
  .col1 {
    flex: 1;
    list-style: none;
    font-weight: 500;
  }
  .col2 {
    flex: 1;
  }
  .col3 {
    flex: 1;
    min-width: 200px;
  }
  .col1 a {
    display: inline-block;
    padding: 7px 0;
    font-size: 14px;
    text-decoration: none;
    list-style: none;
    color: white;
  }
  .col2 .languages {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 14px;
  }
  .col2 p {
    display: inline-block;
    text-decoration: none;
    color: white;
  }
  .col2 a:hover {
    border-bottom: 2px solid white;
    border-radius: none;
  }
  .social {
    display: flex;
    flex: wrap;
    gap: 20px;
  }
  .col3 ion-icon {
    font-size: 25px;
    padding: 5px;
    border-radius: 50px;
    color: black;
    background-color: white;
    transition: all linear 0.5s;
    cursor: pointer;
  }
  .social a:hover ion-icon {
    color: white;
    background: none;
  }
}

@media only screen and (min-width: 1793px) and (max-width: 2400px) {
  .navbar {
    width: 90%;
    background: none;
    color: white;
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
    border-radius: 5px;
    opacity: 0.85;
    z-index: 100;
  }
  .navbar a:hover {
    border-bottom: 2px solid white;
  }
  .skew-1 {
    background-image: linear-gradient(
      rgba(255, 255, 255, 13%),
      rgba(255, 255, 255, 13%),
      rgba(255, 255, 255, 13%),
      rgba(255, 255, 255, 15%)
    );
    transform: skew(0deg, 10deg);
    height: 480px;
    margin-top: -550px;
    position: relative;
    z-index: -1;
  }
  .skew-2 {
    background-image: linear-gradient(
      rgba(255, 255, 255, 15%),
      rgba(255, 255, 255, 15%),
      rgba(255, 255, 255, 15%),
      rgba(255, 255, 255, 15%)
    );
    transform: skew(0deg, -23deg);
    margin-top: -200px;
    height: 320px;
  }
  .header-container {
    color: white;
    text-align: center;
    display: block;
    margin: 0 auto;
    padding-top: 10rem;
    width: 100%;
  }
  .header-h1 {
    padding-top: 30rem;
    font-size: 30pt;
    font-weight: 500;
    transform: skew(0deg, 14deg);
  }
  .header-h2 {
    padding-top: 2rem;
    font-size: 17pt;
    font-weight: 500;
    line-height: 25px;
    transform: skew(0deg, 14deg);
    display: block;
    margin: 0 auto;
    width: 50rem;
    line-height: 27px;
  }
  .header-h3 {
    font-size: 14pt;
    font-weight: 200;
    line-height: 23px;
    transform: skew(0deg, 14deg);
    display: block;
    margin: 0 auto;
    width: 27rem;
  }
  .border-bottom-1 {
    display: none;
  }
  .icon-container {
    padding-top: 18rem;
  }
  .email {
    color: black;
    padding: 4px 12px;
    background-color: white;
    border-radius: 50px;
    transition: 0.5s;
  }
  .email:hover {
    color: white;
    background: none;
  }
  .linked-in {
    color: black;
    padding: 4px 12px;
    background-color: white;
    border-radius: 50px;
    transition: 0.5s;
  }
  .linked-in:hover {
    color: white;
    background: none;
  }
  .instagram {
    color: black;
    padding: 4px 12px;
    background-color: white;
    border-radius: 50px;
    transition: 0.5s;
  }
  .instagram:hover {
    color: white;
    background: none;
  }
  .phone {
    color: black;
    padding: 4px 12px;
    background-color: white;
    border-radius: 50px;
    transition: 0.5s;
  }
  .phone:hover {
    color: white;
    background: none;
  }
  .facebook {
    color: black;
    padding: 4px 12px;
    background-color: white;
    border-radius: 50px;
    transition: 0.5s;
  }
  .facebook:hover {
    color: white;
    background: none;
  }
  .btn {
    border: none;
    color: black;
    cursor: pointer;
    transition: 0.5s;
    padding: 4.5px 12px;
    background-color: white;
    border-radius: 50px;
    font-size: 0.9rem;
    font-weight: 500;
  }
  .btn:hover {
    color: white;
    background: none;
  }
  #box-section {
    background-color: #f2f2f2;
    margin-top: 10rem;
    padding: 5rem 0;
  }
  .box-container {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .box {
    background-color: white;
    text-align: center;
    max-width: 25rem;
    border-radius: 10px;
    padding: 2rem;
  }
  .box i {
    background-image: linear-gradient(to top right, #0314fc, #05cdff);
    padding: 1.5rem;
    border-radius: 100%;
    color: white;
  }
  .box-h1 {
    padding-bottom: 0.5rem;
    font-weight: 600;
    padding-top: 0.5rem;
  }
  .box-p {
    padding-top: 0.5rem;
    font-weight: 400;
    line-height: 25px;
    color: gray;
  }
  #about {
    background-color: white;
  }
  .about-container {
   display: block;
   margin: 0 auto;
   padding-top: 2rem;
   padding-bottom: 3rem;
   max-width: 40%;
  }
  .about-header {
    text-align: center;
    display: block;
    margin: 0 auto;
    font-size: 25pt;
    font-weight: 500;
  }
  .about-message {
   padding-top: 1rem;
   font-weight: 400;
   line-height: 26px;
   color: gray;
   font-size: 1.1rem;
  }
  #skills {
    background-color: #f2f2f2;
    padding-bottom: 5rem;
  }
  .skills-header {
    font-size: 25pt;
    font-weight: 500;
    text-align: center;
    display: block;
    margin: 0 auto;
    padding: 3rem 0 0 0;
    color: black;
  }
  #font-awesome {
    background-image: linear-gradient(to top right, #0314fc, #05cdff);
    color: white;
    text-align: center;
    padding: 1.5rem;
    border-radius: 100%;
    height: 50%;
    width: 4.5rem;
    display: block;
    margin: 0 auto 1rem auto;
    font-size: 15pt;
  }
  .skills-container {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    max-width: 52rem;
    gap: 1rem;
    margin: 0 auto;
    padding-top: 2rem;
  }
  .skills-boxes{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 25rem;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }
  .skills-h1 {
    text-align: center;
    display: block;
    margin: 0 auto;
    font-size: 15pt;
    font-weight: 600;
    padding-bottom: 0.5rem;
  }
  .skills-boxes p {
    color: gray;
    padding-top: 0.5rem;
    display: block;
    margin: 0 auto;
    width: 90%;
    font-weight: 400;
    line-height: 26px;
  }
  #projects {
    background-color: white;
  }
  #coding {
    background-image: linear-gradient(to top right, #0314fc, #05cdff);
    padding-bottom: 3rem;
  }
  .coding-container {
    color: white;
    width: 40%;
    display: block;
    margin: 0 auto;
  }
  .coding-header {
    text-align: center;
    font-size: 25pt;
    font-weight: 500;
    padding-top: 2rem;
    padding-bottom: 0.4rem;
  }
  .coding-p {
    padding-top: 0.8rem;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 26px;
  }
  #contact {
    background-color: white;
    padding: 80px 0;
  }
  .contact-header {
    text-align: center;
    display: block;
    margin: 0 auto;
    font-size: 20pt;
    font-weight: 500;
    padding-bottom: 0.2rem;
  }
  form {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 25rem;
    box-shadow: gray 0 0 20px -10px;
    padding: 25px 20px;
    border-radius: 10px;
  }
  input {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    border: 1px solid gray;
    width: 18rem;
    margin-top: 2rem;
  }
  input::placeholder {
    color: gray;
    font-size: 1rem;
  }
  input:focus {
    outline: 2px solid #00b3ff;
    border-radius: 5px;
  }
  textarea {
    border: none;
    border-radius: 5px;
    border: 1px solid gray;
    resize: vertical;
    width: 18rem;
    padding: 5px 10px;
    margin-top: 2rem;
  }
  textarea:focus {
    outline: 2px solid #00b3ff;
    border-radius: 5px;
  }
  textarea::placeholder {
    color: gray;
    font-size: 1rem;
  }
  .btn-primary {
    background-color: #03a1fc;
    border: none;
    border-radius: 50px;
    padding: 5px 16px;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    transition: all linear 0.5s;
    margin-top: 1rem;
  }
  .btn-primary:hover {
    background-color: white;
    color: #03a1fc;
  }
  .btn-secondary {
    background-color: gray;
    border: none;
    border-radius: 50px;
    padding: 5px 16px;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    transition: all linear 0.5s;
  }
  .btn-secondary:hover {
    background: none;
    color: gray;
    border: none;
  }
  .contact-container {
    margin: 3rem auto 0 auto;
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 90%;
  }
  .contact-boxes {
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 20px;
    width: 25rem;
    text-align: center;
  }
  footer {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 15px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  ul {
    list-style: none;
  }
  .main {
    width: 100%;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    margin-top: -100px;
    margin: 0 auto;
  }
  .heading {
    margin-bottom: 15px;
    color: white;
  }
  .f-h2 {
    color: white;
    display: block;
    margin: 0 auto;
    text-align: center;
    max-width: 35rem;
    font-size: 14pt;
    font-weight: 400;
    margin-top: -60px;
    padding-bottom: 2rem;
    line-height: 26px;
  }
  .col1 {
    flex: 1;
    list-style: none;
    font-weight: 500;
  }
  .col2 {
    flex: 1;
  }
  .col3 {
    flex: 1;
    min-width: 200px;
  }
  .col1 a {
    display: inline-block;
    padding: 7px 0;
    font-size: 14px;
    text-decoration: none;
    list-style: none;
    color: white;
  }
  .col1 a:hover {
    border-bottom: 2px solid white;
  }
  .col2 .languages {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 14px;
  }
  .col2 p {
    display: inline-block;
    text-decoration: none;
    color: white;
  }
  .col2 a:hover {
    border-bottom: 2px solid white;
    border-radius: none;
  }
  .social {
    display: flex;
    flex: wrap;
    gap: 20px;
  }
  .col3 ion-icon {
    font-size: 25px;
    padding: 5px;
    border-radius: 50px;
    color: black;
    background-color: white;
    transition: all linear 0.5s;
    cursor: pointer;
  }
  .social a:hover ion-icon {
    color: white;
    background: none;
  }
}

@media only screen and (min-width: 2401px) and (max-width: 3500px) {
  .navbar {
    width: 90%;
    background: none;
    color: white;
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
    border-radius: 5px;
    opacity: 0.85;
    z-index: 100;
  }
  .navbar a:hover {
    border-bottom: 2px solid white;
  }
  .skew-1 {
    background-image: linear-gradient(
      rgba(255, 255, 255, 13%),
      rgba(255, 255, 255, 13%),
      rgba(255, 255, 255, 13%),
      rgba(255, 255, 255, 15%)
    );
    transform: skew(0deg, 10deg);
    height: 880px;
    margin-top: -950px;
    position: relative;
    z-index: -1;
  }
  .skew-2 {
    background-image: linear-gradient(
      rgba(255, 255, 255, 15%),
      rgba(255, 255, 255, 15%),
      rgba(255, 255, 255, 15%),
      rgba(255, 255, 255, 15%)
    );
    transform: skew(0deg, -23deg);
    margin-top: -500px;
    height: 620px;
  }
  .header-container {
    color: white;
    text-align: center;
    display: block;
    margin: 0 auto;
    padding-top: 10rem;
    width: 100%;
  }
  .header-h1 {
    padding-top: 55rem;
    font-size: 30pt;
    font-weight: 500;
    transform: skew(0deg, 14deg);
  }
  .header-h2 {
    padding-top: 2rem;
    font-size: 17pt;
    font-weight: 500;
    line-height: 25px;
    transform: skew(0deg, 14deg);
    display: block;
    margin: 0 auto;
    width: 50rem;
    line-height: 27px;
  }
  .header-h3 {
    font-size: 14pt;
    font-weight: 200;
    line-height: 23px;
    transform: skew(0deg, 14deg);
    display: block;
    margin: 0 auto;
    width: 27rem;
  }
  .border-bottom-1 {
    display: none;
  }
  .icon-container {
    padding-top: 18rem;
  }
  .email {
    color: black;
    padding: 4px 12px;
    background-color: white;
    border-radius: 50px;
    transition: 0.5s;
  }
  .email:hover {
    color: white;
    background: none;
  }
  .linked-in {
    color: black;
    padding: 4px 12px;
    background-color: white;
    border-radius: 50px;
    transition: 0.5s;
  }
  .linked-in:hover {
    color: white;
    background: none;
  }
  .instagram {
    color: black;
    padding: 4px 12px;
    background-color: white;
    border-radius: 50px;
    transition: 0.5s;
  }
  .instagram:hover {
    color: white;
    background: none;
  }
  .phone {
    color: black;
    padding: 4px 12px;
    background-color: white;
    border-radius: 50px;
    transition: 0.5s;
  }
  .phone:hover {
    color: white;
    background: none;
  }
  .facebook {
    color: black;
    padding: 4px 12px;
    background-color: white;
    border-radius: 50px;
    transition: 0.5s;
  }
  .facebook:hover {
    color: white;
    background: none;
  }
  .btn {
    border: none;
    color: black;
    cursor: pointer;
    transition: 0.5s;
    padding: 4.5px 12px;
    background-color: white;
    border-radius: 50px;
    font-size: 0.9rem;
    font-weight: 500;
  }
  .btn:hover {
    color: white;
    background: none;
  }
  #box-section {
    background-color: #f2f2f2;
    margin-top: 10rem;
    padding: 5rem 0;
  }
  .box-container {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .box {
    background-color: white;
    text-align: center;
    max-width: 25rem;
    border-radius: 10px;
    padding: 2rem;
  }
  .box i {
    background-image: linear-gradient(to top right, #0314fc, #05cdff);
    padding: 1.5rem;
    border-radius: 100%;
    color: white;
  }
  .box-h1 {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    font-weight: 600;
  }
  .box-p {
    padding-top: 0.5rem;
    font-weight: 400;
    line-height: 26px;
    color: gray;
  }
  #about {
    background-color: white;
  }
  .about-container {
   display: block;
   margin: 0 auto;
   padding-top: 2rem;
   padding-bottom: 3rem;
   max-width: 35%;
  }
  .about-header {
    text-align: center;
    display: block;
    margin: 0 auto;
    font-size: 25pt;
    font-weight: 500;
  }
  .about-message {
   padding-top: 1rem;
   color: gray;
   line-height: 26px;
   font-size: 1.1rem;
  }
  #skills {
    background-color: #f2f2f2;
    padding-bottom: 5rem;
  }
  .skills-header {
    font-size: 25pt;
    font-weight: 500;
    text-align: center;
    display: block;
    margin: 0 auto;
    padding: 3rem 0 0 0;
    color: black;
  }
  #font-awesome {
    background-image: linear-gradient(to top right, #0314fc, #05cdff);
    color: white;
    text-align: center;
    padding: 1.5rem;
    border-radius: 100%;
    height: 50%;
    width: 4.5rem;
    display: block;
    margin: 0 auto 1rem auto;
    font-size: 15pt;
  }
  .skills-container {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    max-width: 52rem;
    gap: 1rem;
    margin: 0 auto;
    padding-top: 2rem;
  }
  .skills-boxes {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 25rem;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }
  .skills-h1 {
    text-align: center;
    display: block;
    margin: 0 auto;
    font-size: 15pt;
    font-weight: 600;
    padding-bottom: 0.5rem;
  }
  .skills-boxes p {
    color: gray;
    padding-top: 0.5rem;
    display: block;
    margin: 0 auto;
    width: 90%;
    font-weight: 400;
    line-height: 26px;
  }
  #projects {
    background-color: white;
  }
  #coding {
    background-image: linear-gradient(to top right, #0314fc, #05cdff);
    padding-bottom: 3rem;
  }
  .coding-container {
    color: white;
    width: 35%;
    display: block;
    margin: 0 auto;
  }
  .coding-header {
    text-align: center;
    font-size: 25pt;
    font-weight: 500;
    padding-top: 2rem;
    padding-bottom: 0.4rem;
  }
  .coding-p {
    padding-top: 0.8rem;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 26px;
  }
  #contact {
    background-color: white;
    padding: 80px 0;
  }
  .contact-header {
    text-align: center;
    display: block;
    margin: 0 auto;
    font-size: 20pt;
    font-weight: 500;
    padding-bottom: 0.2rem;
  }
  form {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 25rem;
    box-shadow: gray 0 0 20px -10px;
    padding: 25px 20px;
    border-radius: 10px;
  }
  input {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    border: 1px solid gray;
    width: 18rem;
    margin-top: 2rem;
  }
  input::placeholder {
    color: gray;
    font-size: 1rem;
  }
  input:focus {
    outline: 2px solid #00b3ff;
    border-radius: 5px;
  }
  textarea {
    border: none;
    border-radius: 5px;
    border: 1px solid gray;
    resize: vertical;
    width: 18rem;
    padding: 5px 10px;
    margin-top: 2rem;
  }
  textarea:focus {
    outline: 2px solid #00b3ff;
    border-radius: 5px;
  }
  textarea::placeholder {
    color: gray;
    font-size: 1rem;
  }
  .btn-primary {
    background-color: #03a1fc;
    border: none;
    border-radius: 50px;
    padding: 5px 16px;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    transition: all linear 0.5s;
    margin-top: 1rem;
  }
  .btn-primary:hover {
    background-color: white;
    color: #03a1fc;
  }
  .btn-secondary {
    background-color: gray;
    border: none;
    border-radius: 50px;
    padding: 5px 16px;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    transition: all linear 0.5s;
  }
  .btn-secondary:hover {
    background: none;
    color: gray;
    border: none;
  }
  .contact-container {
    margin: 3rem auto 0 auto;
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 90%;
  }
  .contact-boxes {
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 20px;
    width: 25rem;
    text-align: center;
  }
  footer {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 15px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  ul {
    list-style: none;
  }
  .main {
    width: 100%;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    margin-top: -100px;
    margin: 0 auto;
  }
  .heading {
    margin-bottom: 15px;
    color: white;
  }
  .f-h2 {
    color: white;
    display: block;
    margin: 0 auto;
    text-align: center;
    max-width: 35rem;
    font-size: 14pt;
    font-weight: 400;
    margin-top: -60px;
    padding-bottom: 2rem;
    line-height: 26px;
  }
  .col1 {
    flex: 1;
    list-style: none;
    font-weight: 500;
  }
  .col2 {
    flex: 1;
  }
  .col3 {
    flex: 1;
    min-width: 200px;
  }
  .col1 a {
    display: inline-block;
    padding: 7px 0;
    font-size: 14px;
    text-decoration: none;
    list-style: none;
    color: white;
  }
  .col2 .languages {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 14px;
  }
  .col2 p {
    display: inline-block;
    text-decoration: none;
    color: white;
  }
  .col2 a:hover {
    border-bottom: 2px solid white;
    border-radius: none;
  }
  .social {
    display: flex;
    flex: wrap;
    gap: 20px;
  }
  .col3 ion-icon {
    font-size: 25px;
    padding: 5px;
    border-radius: 50px;
    color: black;
    background-color: white;
    transition: all linear 0.5s;
    cursor: pointer;
  }
  .social a:hover ion-icon {
    color: white;
    background: none;
  }
}
